<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>SpringBoot Security</title>
</head>
<body>
	<p>
		Welcome <span sec:authentication="principal.username">User</span>
	</p>
	<p>
		<a th:href="@{/logout}">Logout</a>
	</p>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<h3>You will see this only if you are ADMIN</h3>
		<p>
			<a th:href="@{/admin/home}">Admin Home</a>
		</p>
	</div>
</body>
</html>