<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<p>Welcome</p>
	<p th:text="${message}">Message</p>
</body>
</html>